/* media queries */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.navbar{
    /* border: 2px solid; */
    height: 150px;
    padding: 20px;
    background-color: #5A9CB5;
    color: #E6E6E6;
}

ul{
    padding: 25px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    ul{
        display: flexbox;
        flex-direction: column;
    }
}

#div1{
    /* border: 2px solid black; */
    height: 700px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

img{
    height: 500px;
    width: 500px;
}

p{
    /* border: 2px solid; */
    height: 500px;
    width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    font-size: 12px;
    color: #001F3D;
}

strong{
    color: #360185;
}

b{
    color: yellow;
}

/* @media screen and (max-width: 700px) {
    #div1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Times New Roman', Times, serif;
        height: auto;
    }
} */

@media screen and (max-width: 320px) {
    #div1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Times New Roman', Times, serif;
        height: auto;
        width: auto;
    }
    img{
        height: auto;
        width: auto;
    }
    p{
        height: auto;
        width: auto;
    }
}

@media screen and (max-width: 375px) {
    #div1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Times New Roman', Times, serif;
        height: auto;
        width: auto;
    }
    img{
        height: auto;
        width: auto;
    }
    p{
        height: auto;
        width: auto;
    }
}

@media screen and (max-width: 425px) {
    #div1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Times New Roman', Times, serif;
        height: auto;
        width: auto;
    }
    img{
        height: auto;
        width: auto;
    }
    p{
        height: auto;
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    #div1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Times New Roman', Times, serif;
        height: auto;
        width: auto;
    }
    img{
        height: auto;
        width: auto;
    }
    p{
        height: auto;
        width: auto;
    }
}